/* Importación de fuentes de google fonts */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1{
    color: rgb(0, 0, 0);
    font-size: 50px;
    text-align: center;
}

/* Estilos para la opción de búsqueda */
#busqueda {
	padding: 50px 20px;
	text-align: center;
}

#busqueda h1 {
	margin-bottom: 20px;
}

#busqueda form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#busqueda label {
	font-size: 18px;
	margin-bottom: 10px;
}

#busqueda input[type="text"] {
	padding: 10px;
	margin-bottom: 20px;
	font-size: 16px;
	border: 2px solid #ccc;
	border-radius: 4px;
	width: 100%;
	max-width: 400px;
	box-sizing: border-box;
}

#busqueda input[type="submit"] {
	padding: 10px 20px;
	font-size: 18px;
	font-weight: bold;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

#busqueda input[type="submit"]:hover {
	background-color: #333;
}

/* Estilos para la opción de formulario de contacto*/
.contact_form {
	width: 460px;
	height: auto;
	margin: 20px auto;
	border-radius: 10px;
	padding-top: 30px;
	padding-bottom: 20px;
	background-color: #fbfbfb;
	padding-left: 30px;
}

input {
	background-color: #fbfbfb;
	width: 408px;
	height: 40px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	margin-top: 10px;
	padding-left: 10px;
	margin-bottom: 20px;
}

textarea {
	background-color: #fbfbfb;
	width: 405px;
	height: 150px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	margin-top: 10px;
	padding-left: 10px;
	margin-bottom: 20px;
	padding-top: 15px;
}

label {
	display: block;
	float: center;
}

button {
	height: 45px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 20px;
	margin-top: 10px;
	text-transform: uppercase;
	background-color: black;
	border-color: black;
	border-style: solid;
	border-radius: 10px;
	width: 420px;
	cursor: pointer;
}

button p {
	color: #fff;
}

span {
	color: black;
}

.aviso {
	font-size: 13px;
	color: #0e0e0e;
}

h3 {
	font-size: 16px;
	padding-bottom: 30px;
	color: #0e0e0e;
}

p {
	font-size: 14px;
	color: #0e0e0e;
}

::-webkit-input-placeholder {
	color: #a8a8a8;
}

::-webkit-textarea-placeholder {
	color: #a8a8a8;
}

.formulario input:focus {
	outline: 0;
	border: 1px solid #97d848;
}

.formulario textarea:focus {
	outline: 0;
	border: 1px solid #97d848;
}

/* Estilos para Navegador*/
nav ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: gray;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
}


