{% extends "../base.html" %}
{% block title %} Gestión de Artículo {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-dismissible alert-success">
                <strong class="text-dark">{{ message }}</strong>
            </div>
            {% endfor %}
            {% endif %}
            
            <h1>Listado de Galeria</h1>
            <h1>{{user.username}}</h1>
            <div class="p-2">
                <a href="{% url 'nuevogal' %}" class="btn btn-primary">Agregar Artes</a>
              </div>

            <div class="table-responsive py-3">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>NOMBRE</th>
                            <th>PRECIO</th>
                            <th>IMG</th>
                            <th colspan="5">Opciones</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for gal in galeria %}
                        <tr>
                            <td>{{gal.codigo}}</td>
                            <td>{{gal.nombre}}</td>
                            <td>{{gal.precio}}</td>
                            <td><img src="{{gal.img.url}}" alt="" width="50px"></td>
                            <td><a href="editargal/{{gal.codigo}}" class="btn btn-primary">Editar </a></td>
                            <td><a href="borrargal/{{gal.codigo}}" class="btn btn-danger btnEliminacion">Eliminar</a></td> 
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}