<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Primera Página </title>
</head>
<body>
    <h1>Hola Artistas</h1>
     <br>
     {% for artista in artistas %}
        {{artista.rut}},  {{artista.nombre}},  {{artista.apellido_paterno}}, 
        {{artista.apellido_materno}},  {{artista.id_genero.genero}} <br>
     {% endfor%}
</body>
</html>