{% extends "./base.html" %}
{% load static %}
{% block title %} NOSOTROS  {% endblock %}

{% block body %}
    <div>
        <h1>NOSOTROS</h1>
    </div>

    <div>
    <div class="container">
        <div class="col-md-12 content">
            <div itemprop="articleBody">
            <center><h3>ARTISTAS</h3></center>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
                <div class="card shadow-sm">
                    <img src="{% static 'img/nosotros/artista1.jpg'%}" alt="">
                    <div class="card-body">
                        <b><p class="card-text">Pancho el malandro</p></b><br>
                        <div class="d-flex justify-content-between align-items-center">
                            <p>Pancho el Malandro es un artista ficticio arraigado en la vieja escuela de Valparaíso, Chile. Su estilo único refleja una mezcla de influencias callejeras, bohemia y tradiciones locales. Su pasión por la ciudad y su habilidad para capturar su esencia en sus obras han dejado una marca duradera en la escena artística de Valparaíso. Nació y se crío entre los cerros, sin perder la esencia de esta hermosa región.
                            </p>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col">
                <div class="card shadow-sm">
                    <img src="{% static 'img/nosotros/artista2.jpg'%}" alt="">
                    <div class="card-body">
                        <b><p class="card-text">Bigotin de brocha</p></b><br>
                        <div class="d-flex justify-content-between align-items-center">
                            <p>Bigotín de Brocha es un artista ficticio que personifica la figura del loco genial en el mundo del arte. Su enfoque audaz y su técnica única desafían las convenciones y rompen los límites de la realidad. Con su personalidad excéntrica y su visión provocativa, Bigotín de Brocha ha dejado una marca duradera en la escena artística, cautivando a aquellos que buscan una experiencia artística fuera de lo común.
                            </p>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col">
                <div class="card shadow-sm">
                    <img src="{% static 'img/nosotros/artista3.jpg'%}" alt="">
                    <div class="card-body">
                    <b><p class="card-text">Coca Mendoza</p></b><br>
                        <div class="d-flex justify-content-between align-items-center">
                            <p>Coca Mendoza es una artista ficticia que utiliza la pintura como una vía de escape de la realidad y una forma de luchar contra la depresión después de perder a su esposo. Su arte introspectivo y emotivo refleja su experiencia personal y transmite un mensaje de resiliencia y esperanza. Coca Mendoza se convierte en una figura inspiradora para aquellos que buscan sanar a través del poder del arte.
                            </p>
                        </div>
                    </div>
                </div>
    </div>
    </div><br>
    <center><h3>MISIÓN</h3></center>
    <p>Nuestra misión es brindar una experiencia única a los amantes del arte, ofreciendo una amplia selección de cuadros 
        de pintura de alta calidad. Nos esforzamos por ser una plataforma en línea confiable y accesible, donde los usuarios 
        puedan descubrir y adquirir obras de arte excepcionales que se ajusten a sus gustos y estilo. Nuestro objetivo es 
        promover el arte y el talento de artistas reconocidos y emergentes, facilitando la conexión entre ellos y los amantes
         del arte en todo el mundo. Buscamos fomentar el aprecio por el arte y embellecer los espacios de nuestros clientes, 
         brindando piezas únicas que inspiren emociones y enriquezcan sus vidas. Valoramos la calidad, la autenticidad y el 
         servicio excepcional, y nos esforzamos por superar las expectativas de nuestros clientes en cada interacción. 
         ¡Nuestra pasión es hacer del arte una experiencia accesible, inspiradora y significativa para todos!.
    </p>
    <p>&nbsp;</p>
    <center><h3>VISIÓN</h3></center>
    <p>Nuestra visión es convertirnos en el destino principal para los amantes del arte y coleccionistas de cuadros 
        de pintura en todo el mundo. Nos esforzamos por ser reconocidos como una plataforma líder y de referencia en la 
        industria del arte, ofreciendo una amplia gama de obras de arte de calidad excepcional y representando a 
        artistas de renombre internacional. Buscamos proporcionar una experiencia en línea innovadora y envolvente, 
        donde los visitantes puedan explorar y descubrir obras de arte que reflejen su estilo y personalidad. 
        Aspiramos a crear un espacio virtual inspirador que conecte a los artistas con su público, brindando 
        oportunidades de exposición y promoción a nivel global. Nos impulsamos constantemente a mejorar y ampliar 
        nuestra oferta de productos y servicios, manteniendo altos estándares de autenticidad, calidad y 
        satisfacción del cliente. Nuestra visión es dejar una huella duradera en el mundo del arte, dejando que la 
        belleza y el poder del arte trasciendan fronteras y lleguen a los hogares y corazones de 
        personas de todo el mundo.</p>
    <p>&nbsp;</p>

    
{% endblock %}